numpy
pandas
matplotlib
seaborn
scikit-learn
tqdm
datasets
evaluate
faiss-cpu
sentence-transformers
transformers
torch
torchvision
ragas
langchain-text-splitters
langchain
langchain-huggingface
pydantic
python-dotenv
nltk
regex
pymilvus
milvus-lite
wordcloud
evaluate
langchain-openai
